<div class="chat-container">
  <mat-card class="main-card">
    <mat-list class="chat-list" *ngIf="messages$ | async as messages">
      <mat-list-item *ngFor="let message of messages" [ngClass]="{'chat-list-item': !message.action && message.user.id === user.id}">
        <img mat-list-avatar [src]="message.user.avatar">
        <h4 mat-line>
          <b>{{message.user.name}}</b>
        </h4>
        <p mat-line>
          <span> {{message.message}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <form [formGroup]="formGroup" (ngSubmit)="sendMessage()" #messageForm="ngForm">
        <mat-icon>message</mat-icon>
        <mat-form-field class="chat-input">
          <input matInput #inputMessage maxlength="140" placeholder="Type your message" formControlName="messageContent" autocomplete="nope">
          <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>

        </mat-form-field>
        <button mat-fab type="submit" [disabled]="formGroup.invalid">Send</button>
      </form>
    </div>
  </mat-card>
</div>